:root {
    --background:#2c2d32;
   
    --pokemonType:#2c2d32;

    --main_mobile_size:500px;
    --main_desktop_size:1200px;
}

body{
    background-color:var(--background);
    
}

.pokemonType{
    background-color: var(--pokemonType);

}
.main_container{
    max-width: 1200px;
    min-width: 350px;
    margin: 0 auto;
    padding-top: 7rem;
    padding-bottom: 50px;
}






.container_pokemons {
    //width: 1200px;
    
    margin: 0 auto;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    
    @media screen and (max-width: 500px){
       width: 320px;
        grid-template-columns: repeat(2,1fr);
       
        column-gap: 0.1rem;

    }

}